* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  --primary: #9796f0;
  --secondary: #fbc7d4;
}
ul,
a,
button,
input,
select,
textarea {
  list-style: none;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
}
body {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.6rem;
  width: 100%;
  max-width: 1280px;
  min-height: 100dvh;
  background: linear-gradient(to right, #9796f0, #fbc7d4);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.container {
  background-color: #fff;
  /* max-width: 80dvw; */
  /* width: 60dvw; */
  min-height: 50dvh;
  border-radius: 10px;
  padding: 2rem;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-rows: 7% 1fr 20%;
  gap: 1rem;
  box-shadow: 5px 3px 5px;
  overflow-x: auto;
}
.active {
  transform: translateX(250px);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9796f0;
  border-radius: 5px;
  padding: 1.5rem 1rem;
  color: #fff;
}
header span {
  cursor: pointer;
  margin: 0 0.25rem;
}
header span:hover {
  color: black;
  transition: all 0.2s ease-in-out;
}
header span:active {
  color: var(--secondary);
  transition: all 0.2s ease-in-out;
}
.arrow {
  background-color: rgb(173, 173, 173);
  border-radius: 50%;
  padding: 0 0.5rem;
}

.event-creator {
  width: 35dvb;
  height: 100%;
  background-color: var(--secondary);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-101%);
  z-index: 222;
  transition: linear 0.3s;
  padding: 0.5rem;
  display: grid;
  grid-template-rows: 230px 1fr 20px;
  color: rgb(104, 104, 104);
}
#event-form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.event-creator input,
textarea {
  width: 95%;
  color: rgb(104, 104, 104);
}
.event-creator button {
  width: 50%;
  text-wrap: nowrap;
  border: none;
  border-radius: 5px;
  background-color: var(--primary);
  color: #fff;
  cursor: pointer;
}
.event-creator button:hover {
  color: black;
}
.event-creator button:active {
  color: var(--secondary);
  transition: all 0.2s ease-in-out;
}
.event-list-section {
  font-size: small;
  overflow-x: hidden;
  overflow-y: scroll;
}
.event-list-section::-webkit-scrollbar {
  display: none;
  /* visibility: hidden; */
}
#event-list {
  cursor: pointer;
}
.event-indicator {
  background-color: var(--secondary);
  height: 5px;
  width: 5px;
  /* border-radius: 50%; */
}
.calendar-weekDays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  color: rgb(104, 104, 104);
}
.calendar-weekDays div {
  padding: 0.5rem;
  /* display: grid; */
  /* place-items: center; */
}
.calendar-weekDays div:hover {
  transform: scale(1.1);
  color: black;
  transition: all 0.2s ease-in-out;
}
.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  padding: 0.5rem;
}
.calendar-days div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  color: rgb(104, 104, 104);
  /* width: 50px; */
  /* border: 1px solid red; */
}
.calendar-days div:hover {
  transform: scale(1.2);
  color: black;
  transition: all 0.2s ease-in-out;
}
.calendar-days div:active {
  color: var(--secondary);
  transition: all 0.2s ease-in-out;
}
.current-date {
  background-color: var(--primary);
  color: var(--secondary);
}
.padding {
  background-color: #fff;
  /* color: var(--secondary); */
}
footer {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 1.5rem;
  /* margin-top: -2rem; */
}
footer h1 {
  font-size: x-large;
  text-wrap: nowrap;
}
footer .fullDetails {
  cursor: zoom-in;
  /* margin-left: -.5rem; */
}
footer .fullDetails:hover {
  transform: scale(1.15);
  transition: all 0.2s ease-in-out;
}
#weather-btn {
  background-color: var(--primary);
  color: #fff;
  border: none;
  padding: 0.25rem;
  border-radius: 0.5rem;
  margin-right: -0.5rem;
  cursor: pointer;
}
#weather-btn:hover {
  color: black;
}
#weather-btn:active {
  color: var(--secondary);
  transition: all 0.2s ease-in-out;
}
/* #weather-display {
  display: flex;
  align-items: center;
  gap: 0.75rem;
} */
.weather {
  min-height: 50px;
  width: 100px;
  padding: 0.5rem;
  box-shadow: 2px 2px 5px;
  border-radius: 5px;
  font-size: x-small;
  overflow: hidden;
  cursor: pointer;
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather:hover {
  transform: scale(1.1);
}
.weather img {
  width: 100%;
  height: 45px;
}
.active {
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  gap: 0.75rem;
  margin: -1rem 0 0 -25rem;
}
#weather-display:not(.active) {
  display: none;
}
